<div class="layout-wrapper">
    <app-topbar></app-topbar>
    <app-sidebar></app-sidebar>

    <div class="layout-content">
        <p-table [value]="cars" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.id}}</td>
                    <td>{{car.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>