body {
  .ui-messages {
    padding: 1em;
    margin: 1em 0;
    &.ui-messages-info {
      background-color: #7fbcec;
      border: 0 none;
      color: #212121;
      .ui-messages-icon,
      .ui-messages-close {
        color: #212121;
      }
    }
    &.ui-messages-success {
      background-color: #b7d8b7;
      border: 0 none;
      color: #212121;
      .ui-messages-icon,
      .ui-messages-close {
        color: #212121;
      }
    }
    &.ui-messages-warn {
      background-color: #ffe399;
      border: 0 none;
      color: #212121;
      .ui-messages-icon,
      .ui-messages-close {
        color: #212121;
      }
    }
    &.ui-messages-error {
      background-color: #f8b7bd;
      border: 0 none;
      color: #212121;
      .ui-messages-icon,
      .ui-messages-close {
        color: #212121;
      }
    }
    .ui-messages-close {
      top: 0.25em;
      right: 0.5em;
      font-size: 1.5em;
    }
    .ui-messages-icon {
      font-size: 2em;
    }
  }
  .ui-message {
    padding: 0.429em;
    margin: 0;
    &.ui-message-info {
      background-color: #7fbcec;
      border: 0 none;
      color: #212121;
      .ui-message-icon {
        color: #212121;
      }
    }
    &.ui-message-success {
      background-color: #b7d8b7;
      border: 0 none;
      color: #212121;
      .ui-message-icon {
        color: #212121;
      }
    }
    &.ui-message-warn {
      background-color: #ffe399;
      border: 0 none;
      color: #212121;
      .ui-message-icon {
        color: #212121;
      }
    }
    &.ui-message-error {
      background-color: #f8b7bd;
      border: 0 none;
      color: #212121;
      .ui-message-icon {
        color: #212121;
      }
    }
    .ui-message-icon {
      font-size: 1.25em;
    }
    .ui-message-text {
      font-size: 1em;
    }
  }
  .ui-growl {
    top: 70px;
    .ui-growl-item-container {
      margin: 0 0 1em 0;
      opacity: 0.9;
      filter: alpha(opacity = 90);
      -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      .ui-growl-item {
        padding: 1em;
        .ui-growl-message {
          margin: 0 0 0 4em;
        }
        .ui-growl-image {
          font-size: 2.571em;
        }
      }
      &.ui-growl-message-info {
        background-color: #7fbcec;
        border: 0 none;
        color: #212121;
        .ui-growl-image {
          color: #212121;
        }
      }
      &.ui-growl-message-success {
        background-color: #b7d8b7;
        border: 0 none;
        color: #212121;
        .ui-growl-image {
          color: #212121;
        }
      }
      &.ui-growl-message-warn {
        background-color: #ffe399;
        border: 0 none;
        color: #212121;
        .ui-growl-image {
          color: #212121;
        }
      }
      &.ui-growl-message-error {
        background-color: #f8b7bd;
        border: 0 none;
        color: #212121;
        .ui-growl-image {
          color: #212121;
        }
      }
    }
  }
  .ui-toast .ui-toast-message {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 0 0 1em 0;
    &.ui-toast-message-info {
      background-color: #7fbcec;
      border: 0 none;
      color: #212121;
      .ui-toast-close-icon {
        color: #212121;
      }
    }
    &.ui-toast-message-success {
      background-color: #b7d8b7;
      border: 0 none;
      color: #212121;
      .ui-toast-close-icon {
        color: #212121;
      }
    }
    &.ui-toast-message-warn {
      background-color: #ffe399;
      border: 0 none;
      color: #212121;
      .ui-toast-close-icon {
        color: #212121;
      }
    }
    &.ui-toast-message-error {
      background-color: #f8b7bd;
      border: 0 none;
      color: #212121;
      .ui-toast-close-icon {
        color: #212121;
      }
    }
  }
}
