<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <p-panel header="Login">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Usuário *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="username" placeholder="Usuário" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Usuário é obrigatório" *ngIf="! formGroup.controls['username'].valid && formGroup.controls['username'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Senha *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="Senha" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Senha é obrigatória" *ngIf="! formGroup.controls['password'].valid && formGroup.controls['password'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-3">
                    <button pButton type="submit" label="Confimar" [disabled]="! formGroup.valid"></button>
                </div>
                <div class="ui-grid-col-3">
                    <button pButton class="ui-button-secondary" type="button" label="Cancelar" (click)="cancel()"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
        </div>
    </p-panel>
</form>